/* Font */
.open-sans-normal {
 font-family: "Open Sans", sans-serif;
 font-optical-sizing: auto;
 font-style: normal;
 font-variation-settings:
  "wdth" 100;
}

/* header relate design */
header>nav > ul > li > a {
 text-decoration-line: none;
}
/* li Style */
header > nav > ul > li{
 list-style: none;
}
/* ul Style */
nav>ul{
 display: flex;
 gap: 51px;
 align-items: center;
}
/* nav Style */
nav{
 display: flex;
 justify-content: space-between;
 margin: 0px 230px 0px 226px;
}

header > nav > h3 {
 font-weight: 800;
 font-size: 45px;


}
.header{
 background-image: url("/images/developer.png"), url("/images/header_bg.png");
 background-repeat: no-repeat;
 background-position: top left, bottom right;
background-size: 136px 700px, auto;

}
header > nav > h3 > span {
 color: #FD6E0A;
}
/* primary button for common uses */
.btn-primary{
 background-color: #FD6E0A;
 font-weight: bold; 
 font-size: 20px;
 color: white;
 padding: 18px 35px;
 border-radius: 5px;
}

.banner-greetings{
 font-weight: 600;
 font-size: 45px;
 margin: 60px 0px 0px 0px;
}

.banner-title{
 font-weight: bold;
 font-size: 85px;
 margin: 0px;
}
.banner-left{
 width: 615px;
 
}
.banner-profile-pic{
height: 36.5em;
width: 42.25em;
}

.banner-writings{
 display: flex;
 margin: 0px 30px 0px 230px;
}

.secondary-bg{
 background-color: #FFF8F3;
}

/* Main section designs starts from here*/

main{
 max-width: 950px;
 margin: 0 auto;
}
.section-title{
 font-weight: bold;
 font-size: 35px;
color:#181818;
}
.section-description{
 font-size: 18px;
 color: #757575;
}
.about{
 border-radius: 10px;
 padding: 22px 100px;
 text-align: center;
 margin-top: 110px;
}

.item-description{
 font-weight: 600;
}

.about-items{
 display: flex;
 justify-content: space-around;
 ;
}





















/* The Color Class for easy use */

.dark-one{
color:#181818
}

.dark-two{
 color: #474747;
}

.dark-three{
 color:#757575 ;
}
.dark-four{
 color: #A3A3A3;
}
.dark-five{
 color: #D1D1D1;
}
.dark-six{
 color: #E8E8E8;
}
.dark-seven{
 color: #F3F3F3;
}